# Ignore all directories, and all sub-directories, and it's contents:
# Ignore * all files in directories
# Ignore **/ alll subdirectories 

# VsCode files
.vscode/

# Eclipse files
/.settings/
/.vscode/
/.project
/.buildpath

# arquivos
/tmp/
/admin/tmp
!/tmp/.htaccess
/app/output/
admin/app/output/
admin/vendor/
!/app/output/.gitignore
env.php
